{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Barsova</title>
    <link rel="stylesheet" href="{% static 'styles/electro-laser5.css'%}">
    <link rel="stylesheet" href="{% static '/styles/header-and-footer.css' %}"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet"> 
  </head>

  <body>
    
    {% include 'header.html' %}
 
    <select id="select-service">
      <option data-i18n="electro" value="electro1"></option>
      <option data-i18n="laser" value="laser1"></option>
    </select>


    <div class="container-prices">

    
      <div class="text-block">
        <h3 data-i18n="whatIsDepilation"></h3>
        <p data-i18n="aboutDepilation" class="description" ></p>
      </div>
      

      <div class="prices">
        <p data-i18n="oneHour"></p>
        <h3 data-i18n="favorableRates"></h3>
        <p data-i18n="twoHours"></p>
        <p data-i18n="fiveHours"></p>
        <p data-i18n="tenHours"></p>
        <h3 data-i18n="extra"></h3>
        <p data-i18n="injection"></p>
        <p data-i18n="aplication"></p>
      </div>
    </div>

    <h4 class="before-after-title"></h4> 
    <div class="photos-to-compare"></div>
    <p data-i18n="tipBeforeAfter" class="tip-before-after"></p>

    <h2 data-i18n="recommendations" class="header-part"></h2>
    <div class="recommendations"></div>

    <h2 data-i18n="contraindications" class="header-part"></h2>
    <div  class="contraindication-box"></div>
    
 
    {% include 'footer.html' %}   
    <script type="module" src="{% static '/scripts/electrolysis1.js'%}"></script>
    <script type="module" src="{% static '/scripts/header-footer2.js' %}"></script> 
  </body>
 
</html>