<!DOCTYPE html>
<html>
  <head>
    <title>Barsova</title>
    <link rel="stylesheet" href="/static/styles/electro-laser.css">
    <link rel="stylesheet" href="/static/styles/header-plus-footer.css"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
  </head>

  <body>
    {% include 'header.html' %}
 
    <select onchange="pageChange(this)" id="select-service">
      <option value="electro" >Електроепіляція</option>
      <option value="laser">Лазерна епіляція</option>
    </select>
    <div class="container-prices">

    
      <div class="text-block">
        <h3>Що таке електроепіляція?</h3>
        <p class="description" >Це єдиний спосіб, що прибирає будь-яке волосся назавжди <br>
          незалежно від того який це тип волосся світлий рижий чи сідий. <br> 
          Видалення відбувається кожного волоска окремо. <br>
          Спеціаліст вводить спеціальну голку у волосяний фолікул <br>
          та термічним розрядом зпаює фолікул.</p>
      </div>
      

      <div class="prices">
        <p>1 година роботи на будь якій зоні 900 sek</p>
        <h3>Вигідні тарифи</h3>
        <p>2 години - 1600 крон (замість 1800 крон)</p>
        <p>5 годин - 3500 крон (замість 4500 крон)</p>
        <p>10 годин - 6500 крон (замість 9000 крон)</p>
        <h3>Додатково</h3>
        <p>Ін’єкційне знеболення - 25 крон за ампулу</p>
        <p>Аплікаційне знебодення - 350 крон за тюбик</p>
      </div>
    </div>

    <h3 class="before-after-title">До/Після</h3> 
    <div class="photos-to-compare"></div>
    <p class="tip-before-after">Наведи курсор на фото, щоб побачити результат</p>

    <h2 class="header-part">Рекомендації</h2>
    <div class="recommendations"></div>

    <h2 class="header-part">Протипоказання</h2>
    <div class="contraindication-box"></div>
    
 
    {% include 'footer.html' %}   
    <script src="/static/scripts/prices-offers.js"></script>
  </body>
 
</html>