<div class="footer">
  <img class="logo" src="/static/images/barsova_logo.svg">
  <div  class="column-1">
    <a href="http://127.0.0.1:8000/" class="link-footer">Про мене</a>
    <a href="http://127.0.0.1:8000/reviews/" class="link-footer">Відгуки</a>
  </div>
  <div class="column-2">
    <a href="http://127.0.0.1:8000/electrolysis/" class="link-footer">Послуги та ціни</a>
    <a class="link-footer">Сертифікати</a>
  </div>
  <div class="column-3">
    <div class="phone">
      <img class="icon" src="/static/images/phone_icon.png">
      <p>073 333 12 12</p>
    </div>
    <div class="mail">
      <img class="icon" src="/static/images/gmail_icon.svg">
      <p>barsova.deal@gmail.com</p>
    </div>
  </div>
  <div class="social-media">
    <img src="/static/images/facebook_icon.svg">
    <img src="/static/images/instagram_icon.svg">
    <img src="/static/images/telegramo_icon.svg">
  </div>
</div>