<div class="footer">
  <img class="logo" src="/static/images/barsova_logo.svg">
  <div  class="column-1">
    <a data-i18n="about" href="{% url 'main-page'%}" class="link-footer"></a>
    <a data-i18n="reviews" href="{% url 'reviews' %}" class="link-footer"></a>
  </div>
  <div class="column-2">
    <a data-i18n="offers" href="{% url 'electrolysis'%}" class="link-footer"></a>
    <a data-i18n="sertificates" href="{% url 'sertificates' %}" class="link-footer"></a>
  </div>
  <div class="column-3">
    <div class="phone">
      <img class="icon" src="/static/images/phone_icon.png">
      <p>073 333 12 12</p>
    </div>
    <div class="mail">
      <img class="icon" src="/static/images/gmail_icon.svg">
      <p>barsova.deal@gmail.com</p>
    </div>
  </div>
  <a class="insta" href="https://www.instagram.com/barsova.deal/">
    <img src="/static/images/instagram_icon.svg">
  </a> 
 
</div>