<div class="footer">
  <img class="logo" src="/static/images/barsova_logo.svg">
  <div  class="column-1">
    <a href="{% url 'main-page'%}" class="link-footer">Про мене</a>
    <a href="{% url 'reviews' %}" class="link-footer">Відгуки</a>
  </div>
  <div class="column-2">
    <a href="{% url 'electrolysis'%}" class="link-footer">Послуги та ціни</a>
    <a href="{% url 'sertificates' %}" class="link-footer">Сертифікати</a>
  </div>
  <div class="column-3">
    <div class="phone">
      <img class="icon" src="/static/images/phone_icon.png">
      <p>073 333 12 12</p>
    </div>
    <div class="mail">
      <img class="icon" src="/static/images/gmail_icon.svg">
      <p>barsova.deal@gmail.com</p>
    </div>
  </div>
  <div class="social-media">
    <a href="https://www.instagram.com/barsova.deal/">
      <img src="/static/images/instagram_icon.svg">
    </a> 
  </div>
</div>