<div class="header">   
  <img class="logo" src="/static/images/barsova_logo.svg"> 
  <div class="links">
    <a href="http://127.0.0.1:8000/" class="link">Про мене</a>
    <a href="http://127.0.0.1:8000/electrolysis/" class="link">Послуги та ціни</a>
    <a href="http://127.0.0.1:8000/reviews/" class="link">Відгуки</a>
    <a href="contact_me.html" class="link">Зв'язок зі мною</a>
  </div> 
  <select class="language-switch" id="languageSelect">
    <option value="en">En</option>
    <option value="ua">Ук</option> 
  </select>

</div>

 