{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Barsova</title>
    <link rel="stylesheet" href="{% static 'styles/electro-laser5.css'%}">
    <link rel="stylesheet" href="{% static '/styles/header-and-footer.css' %}"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet"> 
  </head>

  <body>
    
    {% include 'header.html' %}
 
    <select onchange="pageChange(this)" id="select-service">
      <option value="laser">Лазерна епіляція</option>
      <option value="electro" >Електроепіляція</option>
    </select> 

    


    {% if page == 'laser' %} 

    <div class="separate-page">
      <select onchange="changePrices(this)" id="select-price">
        <option value="separate">Окремі зони</option>
        <option value="laser-packages">Вигідні комплекси</option>
      </select>
       
      <p class="tip-cursor">Наведи курсор на частину тіла на якій бажаєш зробити епіляцію</p>

      <div class="laser-detailes">
        <div class="laser-text">
          <h3>Що таке лазерна епіляція?</h3>
          <p class="description">Лазерна епіляція – це метод видалення волосся
            за допомогою лазерного випромінювання. Принцип роботи полягає в тому,
            що лазерний промінь спрямовується на волосяний фолікул, який містить пігмент меланін.
             Лазерне випромінювання нагріває меланін, руйнуючи його разом з волосяною цибулиною.</p>
        </div>
        <div class="container-photo">
          <img class="main-photo" src="/static/images/figure-clean.svg" usemap="#bodyparts" width="400" height="517">

          <map name="bodyparts"> 
            <area class="body-part area" shape="circle" coords="165, 170, 13"  alt="armpit-left" id="armpit-left" onmouseover="showTip(this)" onclick="displayDesctiption(this)" onmouseleave="hideTip(this)">
            <area class="body-part" shape="circle" coords="220, 170, 13"  alt="armpit-right" id="armpit-right" onmouseover="showTip(this)" onmouseleave="hideTip(this)" onclick="displayDesctiption(this)">
            <area class="body-part"  shape="poly" coords="150, 40, 185, 30, 210, 25, 230, 70, 240, 95, 250, 105, 240, 110, 180, 115, 170, 110 " alt="face" id="face-area" onclick="displayDesctiption(this)" onmouseover="showTip(this)" onmouseleave="hideTip(this)">
            <area class="body-part" shape="rect" coords="160, 155, 205, 190" alt="chest" id="chest" onmouseover="showTip(this)" onmouseleave="hideTip(this)" onclick="displayDesctiption(this)">
            <area class="body-part" shape="rect" coords="175, 245, 205, 275" alt="bikini" id="bikini" onmouseover="showTip(this)" onmouseleave="hideTip(this)" onclick="displayDesctiption(this)">
            
            <area class="body-part" shape="poly" coords="170, 185, 215, 185, 223, 200, 230, 245, 155, 245,  165, 200" alt="belly" id="belly" onmouseover="showTip(this)" onmouseleave="hideTip(this)" onclick="displayDesctiption(this)">
            <area class="body-part" shape="poly" coords="140, 160, 160, 180, 160, 205, 150, 245, 155, 260, 150, 265, 135, 240, 150, 295, 133, 260, 135, 245, 138, 205" alt="left-hand" id="left-hand" onmouseover="showTip(this)" onmouseleave="hideTip(this)" onclick="displayDesctiption(this)">                        
            <area class="body-part" shape="poly" coords="220, 180, 240, 160, 252, 205, 254, 240, 262, 245,   245, 290, 223, 255, 233, 240, 226, 210" alt="right-hand", id="right-hand" onmouseover="showTip(this)" onmouseleave="hideTip(this)" onclick="displayDesctiption(this)">
            <area class="body-part" shape="poly" coords="150, 260, 236, 260, 215, 350, 225, 385, 215, 450, 230, 485, 155, 485, 175, 450, 160, 385, 170, 350" alt="legs-area" id="legs-area" onmouseover="showTip(this)" onmouseleave="hideTip(this)" onclick="displayDesctiption(this)">
          </map>
          
          
        </div>
        <div class="tip-container">
          <div class="tip-body-part" id="armpit">Пахви</div> 
          <div class="tip-body-part" id="face">Лице</div>
          <div class="tip-body-part" id="chest-tip">Груди</div>
          <div class="tip-body-part" id="bikini-tip">Пах</div>
          <div class="tip-body-part" id="belly-tip">Живіт</div>
          <div class="tip-body-part" id="hands-tip">Руки</div> 
          <div class="tip-body-part" id="legs-tip">Ноги</div>
        </div>
        <div class="description-container">
          <div class="description-row description-parse" id="armpits-description">
            <p>Пахви</p>
            <p>600 крон</p>
          </div>
          <div class="description-parse" id="face-description">
            <div class="description-row">
              <p>Верхня губа | підборіддя</p>
              <p>400 крон</p>
            </div>
            <div class="description-row">
              <p>Бакенбарди</p>      
              <p>400 крон</p>
            </div>
            <div class="description-row">
              <p>Обличчя повністю</p>
              <p>400 крон</p>
            </div>
          </div>
          <div class="description-parse" id="chest-description">
            <div class="description-row">
              <p>Ореол молочних залоз</p>
              <p>250 крон</p>
            </div>
            <div class="description-row">
              <p>Груди</p>
              <p>800 крон</p>
            </div>
          </div>
          <div class="description-parse" id="bikini-description">
            <div class="description-row">
              <p>Класичне бікіні</p>
              <p>700 крон</p>
            </div>
            <div class="description-row">
              <p>Глибоке бікіні</p>
              <p>900 крон</p>
            </div>
          </div>
          <div class="description-parse" id="belly-description">
            <div class="description-row">
              <p>Лінія живота</p>
              <p>400 крон</p>
            </div>
            <div class="description-row">
              <p>Живіт повністю</p>
              <p>800 крон</p>
            </div>
          </div>
          <div class="description-parse" id="hands-description">
            <div class="description-row">
              <p>Руки до ліктя</p>
              <p>400 крон</p>
            </div>
            <div class="description-row">
              <p>Руки повністю</p>
              <p>700 крон</p>
            </div>
          </div>
          <div class="description-parse" id="legs-description">
            <div class="description-row">
              <p>Ноги до коліна</p>
              <p>800 крон</p>
            </div>
            <div class="description-row">
              <p>Ноги вище коліна</p>
              <p>900 крон</p>
            </div>
            <div class="description-row">
              <p>Ноги повністю</p>
              <p>1400 крон</p>
            </div>
          </div>
           

        </div>
      </div>  

    </div>

    {% endif %}

    {% if page == 'laser-packages' %}

    <div class="packages-page">
      <select onchange="changePrices(this)" id="select-price">
        <option value="laser-packages">Вигідні комплекси</option>
        <option value="separate">Окремі зони</option>
      </select>

      <div class="packages">
        <div class="vectors">
          <img class="vector" src="/static/images/armpits_partleg.svg" id="vector-partleg">
          <img class="vector" src="/static/images/armpits_bikini_2.svg" id="vector-bikini">
          <img class="vector" src="/static/images/armpits_legs.svg" id="vector-legs">
          <img class="vector" src="/static/images/armpits_bikini_partlegs.svg" id="vector-partleg-bikini">
          <img class="vector" src="/static/images/armpits_bikini_legs.svg" id="vector-leg-bikini">
        </div>

        <div class="container">
          <div class="price" onclick="displayVector(this)" id="price-partleg">
            <p>Пахви та гомілки</p>
            <p>1100 крон (Звичайна ціна 1400 крон)</p>
          </div>
          <div class="price" onclick="displayVector(this)" id="price-bikini">
            <p>Пахви та глибоке бікіні</p>
            <p>1200 крон (Звичайна ціна  1500 крон)</p>
          </div>
          <div class="price" onclick="displayVector(this)" id="price-legs">
            <p>Пахви та ноги повністю</p>
            <p>1600 крон (Звичайна ціна 2000 крон)</p>
          </div>
          <div class="price" onclick="displayVector(this)" id="price-partleg-bikini">
            <p>Пахви, ноги до коліна та глибоке бікіні</p>
            <p>1800 крон (Звичайна ціна 2300 крон)</p>
          </div>
          <div class="price" onclick="displayVector(this)" id="price-leg-bikini">
            <p>Пахви, ноги повністю та  глибоке бікіні</p>
            <p>2400 крон (Звичайна ціна 2900 крон)</p>
          </div>
        </div>

       
      </div>
    </div>

    {% endif %} 


    <h3 class="before-after-title">До/Після</h3> 
    <div class="photos-to-compare-laser"></div>
    <p class="tip-before-after">Наведи курсор на фото, щоб побачити результат</p>

    


    <h2 class="header-part">Рекомендації</h2>
    <div class="recommendations"></div>

    <div class="circle-photo" id='sun'>
      <img class='recommendation-photo-laser'  src="/static/images/sun-icon.jpg">
      <ln class="cross-line"></ln>
      </div>
      
      <div class="circle-photo" id='razor'>
      <img class='recommendation-photo-laser'  src="/static/images/razor-icon.jpg">
      </div>
      
      <div class="circle-photo" id='tweezers'>
      <img class='recommendation-photo-laser'  src="/static/images/tweezers-icon.jpg"> 
      <ln class="cross-line"></ln>
      </div>

    <h2 class="header-part">Протипоказання</h2>
    <div class="contraindication-box-laser">
      <div class="contraindication-hard"></div>
      <div class="contraindication-light"></div>
    </div>


    
    {% include 'footer.html' %}   
    <script src="/static/scripts/laser1.js"></script>
  </body>
 
</html>