{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Barsova</title>
    <link rel="stylesheet" href="{% static 'styles/electro-laser5.css'%}">
    <link rel="stylesheet" href="{% static '/styles/header-footer.css' %}"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="preconnect"> 
  </head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <body>
    
    {% include 'header.html' %}
 
    <select id="select-service">
      <option data-i18n="laser" value="laser" ></option>
      <option data-i18n="electro" value="electro"></option>
    </select> 

    


    {% if page == 'laser' %} 

    <div class="separate-page">
      <select   id="select-price">
        <option data-i18n="separate_zones" value="separate"></option>
        <option data-i18n="beneficial_complexes" value="laser-packages"></option>
      </select>
       
      <p data-i18n="tip_cursor" class="tip-cursor"></p>

      <div class="laser-detailes">
        <div class="laser-text">
          <h3 data-i18n="what_is_laser"></h3>
          <p data-i18n="laser_description" class="description"></p>
        </div>
        <div class="container-photo">
          <img class="main-photo" src="/static/images/figure-clean.svg" usemap="#bodyparts" width="400" height="517">

          <map name="bodyparts" id="map-body"> 
            <area class="body-part area" shape="circle" coords="165, 170, 13"  alt="armpit-left" id="armpit-left" onmouseover="showTip(this)" onclick="displayDesctiption(this)" onmouseleave="hideTip(this)">
            <area class="body-part" shape="circle" coords="220, 170, 13"  alt="armpit-right" id="armpit-right" onmouseover="showTip(this)" onmouseleave="hideTip(this)" onclick="displayDesctiption(this)">
            <area class="body-part"  shape="poly" coords="150, 40, 185, 30, 210, 25, 230, 70, 240, 95, 250, 105, 240, 110, 180, 115, 170, 110 " alt="face" id="face-area" onclick="displayDesctiption(this)" onmouseover="showTip(this)" onmouseleave="hideTip(this)">
            <area class="body-part" shape="rect" coords="160, 155, 205, 190" alt="chest" id="chest" onmouseover="showTip(this)" onmouseleave="hideTip(this)" onclick="displayDesctiption(this)">
            <area class="body-part" shape="rect" coords="175, 245, 205, 275" alt="bikini" id="bikini" onmouseover="showTip(this)" onmouseleave="hideTip(this)" onclick="displayDesctiption(this)">
            
            <area class="body-part" shape="poly" coords="170, 185, 215, 185, 223, 200, 230, 245, 155, 245,  165, 200" alt="belly" id="belly" onmouseover="showTip(this)" onmouseleave="hideTip(this)" onclick="displayDesctiption(this)">
            <area class="body-part" shape="poly" coords="140, 160, 160, 180, 160, 205, 150, 245, 155, 260, 150, 265, 135, 240, 150, 295, 133, 260, 135, 245, 138, 205" alt="left-hand" id="left-hand" onmouseover="showTip(this)" onmouseleave="hideTip(this)" onclick="displayDesctiption(this)">                        
            <area class="body-part" shape="poly" coords="220, 180, 240, 160, 252, 205, 254, 240, 262, 245,   245, 290, 223, 255, 233, 240, 226, 210" alt="right-hand", id="right-hand" onmouseover="showTip(this)" onmouseleave="hideTip(this)" onclick="displayDesctiption(this)">
            <area class="body-part" shape="poly" coords="150, 260, 236, 260, 215, 350, 225, 385, 215, 450, 230, 485, 155, 485, 175, 450, 160, 385, 170, 350" alt="legs-area" id="legs-area" onmouseover="showTip(this)" onmouseleave="hideTip(this)" onclick="displayDesctiption(this)">
          </map>
          
          
        </div>
        <div class="tip-container">
          <div data-i18n="armpits" class="tip-body-part" id="armpit"></div> 
          <div data-i18n="face" class="tip-body-part" id="face"></div>
          <div data-i18n="breast" class="tip-body-part" id="chest-tip"></div>
          <div data-i18n="bikini" class="tip-body-part" id="bikini-tip"></div>
          <di data-i18n="belly" class="tip-body-part" id="belly-tip"></di>
          <div data-i18n="arms" class="tip-body-part" id="hands-tip"></div> 
          <div data-i18n="legs" class="tip-body-part" id="legs-tip"></div>
        </div>
        <div class="description-container">
          <div class="description-row description-parse" id="armpits-description">
            <p data-i18n="armpits"></p>
            <p data-i18n="krons_600"></p>
          </div>
          <div class="description-parse" id="face-description">
            <div class="description-row">
              <p data-i18n="upp_lip_chin"></p>
              <p data-i18n="krons_400"></p>
            </div>
            <div class="description-row">
              <p data-i18n="whiskers"></p>      
              <p data-i18n="krons_400"></p>
            </div>
            <div class="description-row">
              <p data-i18n="whole_face"></p>
              <p data-i18n="krons_400"></p>
            </div>
          </div>
          <div class="description-parse" id="chest-description">
            <div class="description-row">
              <p data-i18n="halo"></p>
              <p data-i18n="krons_250"></p>
            </div>
            <div class="description-row">
              <p data-i18n="breast"></p>
              <p data-i18n="krons_800"></p>
            </div>
          </div>
          <div class="description-parse" id="bikini-description">
            <div class="description-row">
              <p data-i18n="classic_bikini"></p>
              <p data-i18n="krons_700"></p>
            </div>
            <div class="description-row">
              <p data-i18n="deep_bikini"></p>
              <p data-i18n="krons_900"></p>
            </div>
          </div>
          <div class="description-parse" id="belly-description">
            <div class="description-row">
              <p data-i18n="belly_line"></p>
              <p data-i18n="krons_400"></p>
            </div>
            <div class="description-row">
              <p data-i18n="belly_whole"></p>
              <p data-i18n="krons_800"></p>
            </div>
          </div>
          <div class="description-parse" id="hands-description">
            <div class="description-row">
              <p data-i18n="hands_to_the_elbow"></p>
              <p data-i18n="krons_400"></p>
            </div>
            <div class="description-row">
              <p data-i18n="hands_whole"></p>
              <p data-i18n="krons_700"></p>
            </div>
          </div>
          <div class="description-parse" id="legs-description">
            <div class="description-row">
              <p data-i18n="legs_to_the_knee"></p>
              <p data-i18n="krons_800"></p>
            </div>
            <div class="description-row">
              <p data-i18n="legs_to_the_knee"></p>
              <p data-i18n="krons_900"></p>
            </div>
            <div class="description-row">
              <p data-i18n="legs_whole"></p>
              <p data-i18n="krons_1400"></p>
            </div>
          </div>
           

        </div>
      </div>  

    </div>

    {% endif %}

    {% if page == 'laser-packages' %}

    <div class="packages-page">
      <select id="select-price">
        <option data-i18n="beneficial_complexes" value="laser-packages"></option>
        <option data-i18n="separate_zones" value="separate"></option>
      </select>

      <div class="packages">
        <div class="vectors">
          <img class="vector" src="/static/images/armpits_partleg.svg" id="vector-partleg">
          <img class="vector" src="/static/images/armpits_bikini_2.svg" id="vector-bikini">
          <img class="vector" src="/static/images/armpits_legs.svg" id="vector-legs">
          <img class="vector" src="/static/images/armpits_bikini_partlegs.svg" id="vector-partleg-bikini">
          <img class="vector" src="/static/images/armpits_bikini_legs.svg" id="vector-leg-bikini">
        </div>

        <div class="container">
          <div class="price" onclick="displayVector(this)" id="price-partleg">
            <p data-i18n="armpits_lower_legs"></p>
            <p data-i18n="special_price_1100"></p>
          </div>
          <div class="price" onclick="displayVector(this)" id="price-bikini">
            <p data-i18n="armpits_deep_bikini"></p>
            <p data-i18n="special_price_1200"></p>
          </div>
          <div class="price" onclick="displayVector(this)" id="price-legs">
            <p data-i18n="armpits_legs"></p>
            <p data-i18n="special_price_1600"></p>
          </div>
          <div class="price" onclick="displayVector(this)" id="price-partleg-bikini">
            <p data-i18n="armpits_lower_legs_bikini"></p>
            <p data-i18n="special_price_1800"></p>
          </div>
          <div class="price" onclick="displayVector(this)" id="price-leg-bikini">
            <p data-i18n="armpits_legs_bikini"></p>
            <p data-i18n="special_price_2400"></p>
          </div>
        </div>
        
       
      </div>
    </div>

    {% endif %} 

 
    <div class="photos-to-compare-laser"></div>
    <p data-i18n="before_after_tip" class="tip-before-after"></p>

    


    <h2 data-i18n="recommendations" class="header-part"></h2>
    <div class="recommendations"></div>

    <div class="circle-photo" id='sun'>
      <img class='recommendation-photo-laser'  src="/static/images/sun-icon.jpg">
      <ln class="cross-line"></ln>
      </div>
      
      <div class="circle-photo" id='razor'>
      <img class='recommendation-photo-laser'  src="/static/images/razor-icon.jpg">
      </div>
      
      <div class="circle-photo" id='tweezers'>
      <img class='recommendation-photo-laser'  src="/static/images/tweezers-icon.jpg"> 
      <ln class="cross-line"></ln>
      </div>

    <h2 data-i18n="contraindications" class="header-part"></h2>
    <div class="contraindication-box-laser">
      <div class="contraindication-hard"></div>
      <div class="contraindication-light"></div>
    </div>


    
    {% include 'footer.html' %}   
    <script src="/static/scripts/laser_c.js"></script>
    <script type="module" src="{% static '/scripts/laser-data.js'%}"></script>
    <script type="module" src="{% static '/scripts/header_footer.js' %}"></script>  
    
  </body>
 
</html>