<!DOCTYPE html>
<html>
  <head>
    <title>Barsova</title>
    <link rel="stylesheet" href="/static/styles/laser.css">
    <link rel="stylesheet" href="/static/styles/header_and_footer.css"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="/static/scripts/laser-new.js"></script>
  </head>

  <body>
    
    {% include 'header.html' %}
 
    <select onchange="pageChange(this)" id="select-service">
      <option value="laser">Лазерна епіляція</option>
      <option value="electro" >Електроепіляція</option>
    </select> 

    


    {% if page == 'laser' %} 

    <div class="separate-page">
      <select onchange="changePrices(this)" id="select-price">
        <option value="separate">Окремі зони</option>
        <option value="laser-packages">Вигідні комплекси</option>
      </select>
       
      <h1> page with separeted prices</h1>
    </div>

    {% endif %}

    {% if page == 'laser-packages' %}

    <div class="packages-page">
      <select onchange="changePrices(this)" id="select-price">
        <option value="laser-packages">Вигідні комплекси</option>
        <option value="separate">Окремі зони</option>
      </select>

      <div class="packages">
        <div class="vectors">
          <img class="vector" src="/static/images/armpits_partleg.svg" id="vector-partleg">
          <img class="vector" src="/static/images/armpits_bikini_2.svg" id="vector-bikini">
          <img class="vector" src="/static/images/armpits_legs.svg" id="vector-legs">
          <img class="vector" src="/static/images/armpits_bikini_partlegs.svg" id="vector-partleg-bikini">
          <img class="vector" src="/static/images/armpits_bikini_legs.svg" id="vector-leg-bikini">
        </div>

        <div class="container">
          <div class="price" onclick="displayVector(this)" id="price-partleg">
            <p>Пахви та гомілки</p>
            <p>1100 крон (Звичайна ціна 1400 крон)</p>
          </div>
          <div class="price" onclick="displayVector(this)" id="price-bikini">
            <p>Пахви та глибоке бікіні</p>
            <p>1200 крон (Звичайна ціна  1500 крон)</p>
          </div>
          <div class="price" onclick="displayVector(this)" id="price-legs">
            <p>Пахви та ноги повністю</p>
            <p>1600 крон (Звичайна ціна 2000 крон)</p>
          </div>
          <div class="price" onclick="displayVector(this)" id="price-partleg-bikini">
            <p>Пахви, ноги до коліна та глибоке бікіні</p>
            <p>1800 крон (Звичайна ціна 2300 крон)</p>
          </div>
          <div class="price" onclick="displayVector(this)" id="price-leg-bikini">
            <p>Пахви, ноги повністю та  глибоке бікіні</p>
            <p>2400 крон (Звичайна ціна 2900 крон)</p>
          </div>
        </div>

       
      </div>
    </div>

    {% endif %} 



    
    {% include 'footer.html' %}   
    <script src="/static/scripts/laser.js"></script>
  </body>
 
</html>