{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Barsova</title>
    <link rel="stylesheet" href="/static/styles/main1.css">
    <link rel="stylesheet" href="{% static '/styles/header-and-footer.css' %}"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
  </head>

  <body>
    {% include 'header.html' %}
    <div class="part-main">
    <p class="about-main-1"> Мене звати Анастасія. Мені 22 роки і в б'ютісфері я з 15 років. 
      Спробувавши різні професії в бьюті, мій вибір остаточно зупинився саме на епіляції. <br> <br> <br>
      Чому? Тому що саме епіляція вирішує одну з найголовніших дівочих проблем. 
      Зайве волосся дратує, змушує соромитись і відмовлятись від багатьох подій у житті якщо «забула поголитись». <br>  
      Епіляція допомагає позбутися від проблем зі шкірою, які виникають через небажане волосся. 
      А я люблю допомагати людям. Саме тому у мене з епіляцією стався той самий «match” </p>
      <img class="first-image" src="/static/images/face_main_3.jpg">
    </div>
    <div class="part-main">
      <img class="second-image" src="/static/images/face_main_1.jpg">
      <p class="about-main-2"> Мій шлях почався з манікюра. Мені сподобалося працювати з <br> 
        клієнтами і створювати красу, але я зрозуміла, що манікюр – не моя улюблена справа. <br>
        <br> <br> Доля молодого спеціаліста не така проста як може здатися на перший погляд. <br> Молодому майстру
         не всі готові довіряти, але у своєму місті я змогла завоювати довіру дівчат 
         і вирішити їх запити з небажаним волоссям.</p>
    </div>

    <div class="before-after-main">
      <div class="scroller-content" id="scrollerContent"></div>
      <button class="scroll-button" id="scrollLeftButton">&lt;</button>
      <button class="scroll-button" id="scrollRightButton">&gt;</button>
    </div>
    <p class="before-after-text">Потягни за лінію на фото щоб порівняти до та після</p>




    <div class="part-main">
      <p class="about-main-3">Моя студія в рідному місті існувала аж допоки місто не залишилось без струму. <br>
         Я готова була працювати на ентузіазмі, але апарати, нажаль, на ньому <br> працювати не змогли. 
        Саме тому, зараз я працюю <br> в Стокгольмі і готова робити гладку шкіру місцевим дівчатам 🙌🏻 <br> <br>
        Сподіваюсь і на вашу довіру 🥰</p>
        <img class="third-image" src="/static/images/face_main_2.jpg">
    </div>

    {% include 'footer.html' %}  
  <script src="/static/scripts/main.js"></script>
  </body>
 
</html>