{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Barsova</title>
    <link rel="stylesheet" href="/static/styles/main2.css">
    <link rel="stylesheet" href="{% static '/styles/header-footer.css' %}"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet"> 
  </head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <body>
    

    {% include 'header.html' %}
    <div class="part-main">
    <p data-i18n="main_1" class="about-main-1"></p>
      <img class="first-image" src="/static/images/face_main_3.jpg">
    </div>
    <div class="part-main">
      <img class="second-image" src="/static/images/face_main_1.jpg">
      <p data-i18n="main_2" class="about-main-2"></p>
    </div>

    <div class="before-after-main">
      <div class="scroller-content" id="scrollerContent"></div>
      <button class="scroll-button" id="scrollLeftButton">&lt;</button>
      <button class="scroll-button" id="scrollRightButton">&gt;</button>
    </div>
    <p data-i18n="before_after_input" class="before-after-text"></p>




    <div class="part-main">
      <p data-i18n="main_3" class="about-main-3"></p>
        <img class="third-image" src="/static/images/face_main_2.jpg">
    </div>

    {% include 'footer.html' %}  
    <script type="module" src="{% static '/scripts/main.js' %}"></script> 
    <script type="module" src="{% static '/scripts/header_footer.js' %}"></script> 
  </body>
 
</html>