{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Barsova</title>
    <link rel="stylesheet" href="{% static 'styles/review.css'%}">
    <link rel="stylesheet" href="{% static '/styles/header-and-footer.css' %}"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet"> 
    
  </head>

  <body>
    
    {% include 'header.html' %}
    <h3 data-i18n="reviews"></h3>
    <button data-i18n="leave_review" class="button-leave-review" onclick="location.href='http://127.0.0.1:8000/leave-review/'"></button>

    <div class="reviews-container"></div>
    <button data-i18n="show_more" id="show-more" onclick="showMore()"></button>
  
    

    {% include 'footer.html' %}  
 

    <script type="module" src="{% static 'scripts/translation_data.js' %}"></script> 
    <script type="module" src="{% static '/scripts/header-footer2.js' %}"></script> 
    <script src="{% static 'scripts/reviews.js' %}"></script>
  </body>
</html>