{% load static%}

<!DOCTYPE html>
<html>
  <head>
    <title>Barsova</title>
    <link rel="stylesheet" href="{% static 'styles/reviews.css'%}">
    <link rel="stylesheet" href="{% static '/styles/header-and-footer.css' %}"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet"> 
    
  </head>

  <body>
    
    {% include 'header.html' %}
    <h3>Відгуки</h3>
    <button class="button-leave-review" onclick="location.href='http://127.0.0.1:8000/leave-review/'">Залишити відгук</button>

    <div class="reviews-container"></div>
    <button id="show-more" onclick="showMore()">Показати ще</button>
  
    

    {% include 'footer.html' %}    
    <script src="{% static 'scripts/reviews1.js'%}"> </script>
  </body>
</html>