body {
  font-family: Roboto, Arial;
  background-color: rgb(254, 255, 235);
}

.about-main-1 {
  width: 600px;
  margin-top: 80px; 
  font-size: 18px;
  line-height: 1.3;
}

.first-image {
  width: 50%;
  margin-left: 100px ;
}

.part-main {
  display: flex;
  margin-top: 150px;
  margin-left: 250px;
}

.second-image {
  width: 500px;
}

.about-main-2 {
  margin-top: 250px;
  margin-left: 150px;
  font-size: 18px;
}

.about-main-3 {
  margin-top: 250px; 
  font-size: 18px;
}

.third-image {
  width: 500px; 
  margin-left: 100px;
}

.before-after-main {
  position: relative;
  width: 100%;
  overflow: hidden; 
}
 
.before-after-photo {
  width: 250px;
}

.before-after-text{ 
  margin-top: 50px;
  margin-left: 100px;
  
}


.scroller-content {
  display: flex;
  transition: transform 0.3s ease; 
  margin-top: 100px;
  margin-left: 200px;
  width: 1300px;
  position: relative; 
  overflow: hidden;
}

 
.conteiner { 
  width: 250px;
  height: 250px;
  margin: 5px 40px;
}

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  font-size: 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}


#scrollLeftButton {
  margin-left: 100px;
  margin-top: 40px;
}

#scrollRightButton {
  right: 90px;
  margin-top: 40px

}


.compare {
  position: relative;
  width: 250px;
  height: 250px;
  border: 1px solid #f5f5f5;
  box-shadow: 0px, 0px, 20px, 5px, rgba(0,0,0,0.15);
}

.compare .before {
  position: relative;
  top: 0px;
  width: 100%;
  height: 100%; 
}

.compare .before .after {
  position:absolute;
  top: 0px;
  left:0px;
  width: 130px;
  height: 250px; 
  z-index: 2;
}

.compare input {
  position: absolute;
  top: 0px;
  left: 0px;
  appearance: none;
  z-index: 3;
  width: 100%;
  height: 100%;
  background: transparent;
}


.compare input::-webkit-slider-thumb {
  appearance: none;
  display: block;
  width: 10px;
  height: 250px;
  border: 1px, solid #f5f5f5;
  background: rgb(254, 150, 209);
  cursor: pointer;
}

.compare input ::-webkit-slider-thumb:active {
  background: #e25a5a;
  border: 1px solid #e25a5a;
  transition: all 300ms ease-in-out;
}


