body {
  margin: 0;
  background-color: rgb(254, 205, 235);
}

#select-service {
  border: 1px solid transparent;
  background-color: transparent;
  font-size: 20px; 
  font-weight: bold;
  margin-top: 50px;
  display: block;
  margin-left: 50px; 
  
}

.text-block {
  position: relative;
  width: 500px;
  display: inline-block;
  margin-left: 150px;
  margin-right: 150px;
  top: -70px;
}

.prices {
  width: 550px;
  display: inline-block;
  background-color: rgb(254, 150, 209);
  text-align: center;
  border-radius: 40px; 
  padding-top: 50px;
  padding-bottom: 50px;
}

.title {
  font-weight: bold;
}

.photos-to-compare {
  display: flex;
  justify-content: space-between;
  width: 1000px; 
  margin-left: 130px;
}


.photo-container {
  position: relative; 
  display: flex;
}

.after, .before {
  position: absolute;
}


.photo-container:hover > .before {
  display: none;
  cursor: pointer;
}

.before-after-title {
  margin-left: 100px;
}

.tip-before-after {
  margin-left: 100px;
  margin-bottom: 30px;
  margin-top: 300px;
  color: gray
}


.circle {
  width: 10px;
  height: 10px;
  background-color: black;  
  border-radius: 50%;
  margin-right: 20px;
}

.recommendations, .contraindication-box {
  margin-left: 120px;
}

.recommendation, .contraindication {
  display: flex;
  align-items: center;
  
}

.recommendation-text, .contraindication-text {
  width: 1200px;
  margin: 10px;
}

.move-right {
  margin-left: 40px;
}

.recommendations-photo {
  position: relative;
}

.circle-photo {
  width: 100px;
  height: 100px;
  background-color: white;  
  border-radius: 50%;  
  display: flex;
  position: absolute;
}

.recommendation-photo {
  width: 50%;    
  align-self: center;
  margin:auto
}

#glass_of_water {
  top: -200px;
  right: 100px;
}

#shower_icon {
  right: 250px;
  top: -20px
}

#talcum-powder {
  right: 100px;
  top: 150px
}

.header-part {
  margin: 50px;
 
}







 .packages-page { 
  height: 700px; 
 }

#select-price {
  border: 1px solid transparent;
  background-color: transparent;
  font-size: 17px;   
  font-weight: 550;
  display: block;
  margin-left: 1250px; 
  margin-top: -22px;
  }


.container {
  margin-top: 150px;
}

.price {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-left: 700px;
}

.photo {
  position: relative;
  width: 300px;
}

.vectors {
  top: -20px;
  position: relative; 
  left: 150px
}

.vector {
  position: absolute;
  width: 450px;
  visibility: hidden;
}

#vector-partleg {
  visibility: visible;
}

.choosed {
  color: rgb(254, 150, 209);
  cursor: pointer
}

.packages {
  display: flex;  
}



